@font-face {
    font-weight: 300;
    font-family: "Pretendard";
    src: url("/fonts/PretendardVariable.woff2");
}

@font-face {
    font-weight: 300;
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-weight: 300;
    font-family: "NotoColorEmoji";
    src: url("/fonts/NotoColorEmoji-Regular.ttf");
}

:root {
    --font-default: "Pretendard", "NotoColorEmoji", serif;
    --font-mono: "JetBrainsMono", serif;

    --font-size: 13pt;
    --sidebar-width: 250px;
    --input-default-height: 35px;

    --input: #18192b;
    --background: #0b0c16;
    --sidebar-background: #27283b;
    
    --font-color: #dddddd;
    --font-hover: #ffffff;
    --font-focus: rgba(221, 221, 221, 0.8);

    --chat-hover: rgba(255, 255, 255, 0.2);
    
    --btn-color: #3d3f57;
    --btn-hover: #3a3b52;
    --btn-focus: #2c2d41;
    --error-color: #c94c4c;

    --disabled: #888888;
}

* {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    box-sizing: border-box;
}

html,
body {
    background-color: var(--background);
    overflow-x: hidden;
    max-width: 100vw;
    height: 100vh;
}

body {
    font-family: var(--font-default);
    color: var(--font-color);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    transition-duration: 300ms;

    &:hover {
        color: var(--font-hover);
        transition-duration: 300ms;
    }

    &:focus {
        color: var(--font-focus);
        transition-duration: 300ms;
    }
}

input {
    border: none;
    padding: 0 7px;
    background-color: var(--input);
    transition-duration: 300ms;
    height: var(--input-default-height);
    font-size: var(--font-size);

    &:focus {
        outline: none;
        user-select: none;
        transition-duration: 300ms;
    }
}

button {
    border: none;
    transition-duration: 300ms;
    font-size: var(--font-size);
    background-color: var(--btn-color);
    height: var(--input-default-height);

    &:disabled {
        color: var(--disabled);
        background-color: var(--btn-focus);

        transition-duration: 300ms;

        &:hover {
            * {
                color: var(--disabled);
                transition-duration: 300ms;
            }
            
            color: var(--disabled);
            transition-duration: 300ms;
            background-color: var(--btn-focus);
        }

        &:focus {
            * {
                color: var(--disabled);
                transition-duration: 300ms;
            }

            color: var(--disabled);
            transition-duration: 300ms;
            background-color: var(--btn-focus);
        }
    }

    &:hover {
        * {
            color: var(--font-hover);
            transition-duration: 300ms;
        }

        color: var(--font-hover);
        transition-duration: 300ms;
        background-color: var(--btn-hover);
    }

    &:focus {
        * {
            color: var(--font-focus);
            transition-duration: 300ms;
        }

        color: var(--font-focus);
        transition-duration: 300ms;
        background-color: var(--btn-focus);
    }
}

pre,
code {
    font-family: var(--font-mono);
}

footer {
    margin-top: 30px;
}
